include *.txt LICENSE CONTRIBUTING.md pyproject.toml couchbase_operational_insights_version.py
include couchbase_operational_insights/common/_core/nonprod_certificates/*.pem
include couchbase_operational_insights/common/_core/capella_certificates/*.pem
recursive-include couchbase_operational_insights *.py
exclude couchbase_operational_insights/tests/*.py
recursive-include acouchbase_operational_insights *.py
exclude acouchbase_operational_insights/tests/*.py
global-exclude *.py[cod] *.DS_Store
exclude .git .gitignore .gitmodules .pre* .flake* MANIFEST.in
exclude requirements.* requirements-dev.* requirements-sphinx.*
